doctype html

html
    head
        meta(charset='UTF-8')
    title T3js DevTools
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css')

    body(class='app')
        script(src='devpanel.bundle.js')